/* /Pages/Index.razor.rz.scp.css */
.content[b-6tngkvcanx] {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo[b-6tngkvcanx]
{
    margin-top: 6rem;
    margin-bottom: 3rem;
}

.logo>img[b-6tngkvcanx]{
    width: 200px;
}
/* /Pages/Search.razor.rz.scp.css */
.search-input-container[b-2yv4l3fork] {
    display: flex;
    flex-direction: row;
    margin-bottom: 32px;
    border: 1px solid #999;
    border-radius: 20px;
    background-color: transparent;
    padding-right: 8px;
    padding-left: 4px;
    margin-top: 12px;
    width: 100%;
    min-width: 180px;
    max-width: 500px;
    background-color: var(--control-surface);
    animation: fadeIn 1s;
}

#search-icon-holder[b-2yv4l3fork] {
    width: 32px;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
    fill: #666;
    flex-grow: 0;
}

#keyword-input[b-2yv4l3fork] {
    border: hidden;
    outline: none;
    background-color: transparent;
    flex-grow: 1;
    flex-shrink: 1;
    min-width: 400px;
}

#search-operations-container[b-2yv4l3fork] {
    display: flex;
    flex-flow: row;
    align-content: center;
    margin-bottom: 36px;
    animation: fadeIn 1s;
}

button[b-2yv4l3fork] {
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}

#fish-card-container[b-2yv4l3fork] {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1000px;
    justify-content: space-evenly;
}

.fish-card[b-2yv4l3fork] {
    border: 1px dashed #999;
    padding: 16px;
    margin: 4px;
    width: 250px;
    background-color: var(--control-surface);
    box-shadow: 2px 2px 1px #ddd;
}

.quick-access[b-2yv4l3fork] {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: baseline;
    margin-bottom: 48px;
    flex-wrap: wrap;
    animation: fadeIn 1s;
}

.quick-access>div[b-2yv4l3fork] {
    white-space: nowrap;
}

h3[b-2yv4l3fork] {
    margin-top: 4px;
}

@media screen and (max-width: 600px) {
    .fish-card[b-2yv4l3fork] {
        width: 100%;
        flex-grow: 1;
    }
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-g54fw4uzw3] {
    position: relative;
    display: flex;
    flex-direction: column;
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-i4o461wlvp] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-i4o461wlvp] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-i4o461wlvp] {
    font-size: 1.1rem;
}

.oi[b-i4o461wlvp] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-i4o461wlvp] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-i4o461wlvp] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-i4o461wlvp] {
        padding-bottom: 1rem;
    }

    .nav-item[b-i4o461wlvp]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-i4o461wlvp]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-i4o461wlvp]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-i4o461wlvp] {
        display: none;
    }

    .collapse[b-i4o461wlvp] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
